/* ----- PAGE BACKGROUND ----- */
body {
  background-color: hsla(189, 100%, 5%, 0.443);
}

/* ----- TITLE ----- */
.headerBar {
  margin-top: 5rem;
  margin-bottom: 2rem;
  /* border: 1px solid rgb(255, 183, 0); */
  background-color: hsla(190, 100%, 8%, 0.393);
  width: 100%;
  height: 60px;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.3rem 0.8rem;

}

.title {
  color: rgb(255, 255, 255);
  display: flex;
  justify-content: center;
  font-size: 1.5rem;
  width: fit-content;
  padding: .2rem;
  border-radius: .2rem;
  font-family: 'Trebuchet MS';
}

/* ----- SEARCH ----- */
.searchContainer {
  display: flex;
  justify-content: center;
  width: fit-content;
}

.SearchBox {
  width: 25rem;
  padding: 0.4rem;
  justify-content: center;
  text-align: center;
  border-radius: 5px;
  border: none;
  background-color: hsla(0, 0%, 22%, 0.783);
  color: white;
  box-shadow: inset 0 0 0.3rem hsla(0, 0%, 95%, 0.667);
}

.SearchBox::placeholder {
  color: rgb(179, 179, 179);
  text-transform: capitalize;
}

/* ----- CHECKBOX ROW ----- */
.columnToggle {
  display: flex;
  justify-content: center;
  width: fit-content;
  /* border: 1px solid red; */
  /* position: relative; */
}

/* dropdown button */
.columnToggle summary {
  cursor: pointer;
  background: none;
  /* border: 1px solid rgba(156, 156, 156, 0.699); */
  padding: 0.4rem .9rem .4rem .9rem;
  border-radius: 50%;
  list-style: none;
  color: rgb(213, 213, 213);
}

.columnToggle summary:hover {
  background: #303030c3;
  list-style: none;

}

/* popup menu */
.dropdownMenu {
  position: fixed;
  top: 8.2rem;
  left: 96.65%;
  justify-content: center;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  gap: .5rem;
  background: #1f1e1e;
  border: none;
  padding: 0.5rem;
  border-radius: .2rem;
  width: max-content;
  z-index: 999;
  /* table ke upar show hoga */
}

.dropdownItem {
  font-size: 0.85rem;
  color: rgb(255, 255, 255);
  display: flex;
  gap: 6px;
  cursor: pointer;
}

/* ----- TABLE WRAPPER ----- */
.tableWrapper {
  width: 95%;
  margin: auto;
  background: #1e1e1e;
  padding: 1rem;
  border-radius: 6px;
  overflow-x: auto;
}

/* ----- TABLE ----- */
.table {
  width: 100%;
  border-collapse: collapse;
  min-width: 900px;
}

/* ----- HEAD ----- */
.thead th {
  background: #001711;
  color: rgb(255, 255, 255);
  font-size: 0.9rem;
  padding: 0.7rem;
  border-right: 1px solid #333;
  border-bottom: 1px solid #333;
}

.thead th:last-child {
  border-right: none;
}

/* ----- HEADER FLEX ----- */
.headerContent {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.sortIcon {
  font-size: 0.75rem;
}

/* ----- FILTER ----- */
.columnFilter {
  margin-top: 0.4rem;
  width: 100%;
  padding: 0.3rem;
  font-size: 0.75rem;
  max-width: 5rem;
  background: #484848;
  color: rgb(255, 255, 255);
  border: none;
  border-radius: .2rem;
}
.columnFilter::placeholder {
  color: #ededed98;
}
/* ----- BODY ----- */
.tbody td {
  padding: 0.6rem;
  font-size: 0.8rem;
  text-align: center;
  border-right: 1px solid #333;
  border-bottom: 1px solid #333;
  background: #2a2a2a;
  color: #ddd;
}

.tbody td:last-child {
  border-right: none;
}

.tbody tr:hover td {
  background: #00332a;
}



/* ================= PAGINATION ================= */

.paginationSection {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;
  gap: 1rem;
  flex-wrap: wrap;
}

/* Page size dropdown */
.paginationSize {
  padding: 0.35rem 0.6rem;
  background: #303030;
  color: white;
  border: 1px solid #444;
  border-radius: 5px;
  font-size: 0.85rem;
}

/* Button group */
.paginationControls {
  display: flex;
  align-items: center;
  gap: 0.6rem;
  flex-wrap: wrap;
}

/* Buttons */
.paginationControls button {
  padding: 0.35rem 0.9rem;
  background: #303030;
  border: none;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  font-size: 0.85rem;
  transition: 0.2s ease;
}

.paginationControls button:hover:not(:disabled) {
  background: #00a884;
}

.paginationControls button:disabled {
  background: #777;
  cursor: not-allowed;
}

/* Page text */
.pageInfo {
  font-size: 0.85rem;
  color: #ddd;
}

/* ---------------------- RESPONSIVE BREAKPOINTS */
/* ----- TABLET ----- */
@media (max-width: 1024px) {
  .title {
    font-size: 1.2rem;
  }

  .SearchBox {
    font-size: 0.85rem;
  }

  .thead th,
  .tbody td {
    font-size: 0.8rem;
    padding: 0.5rem;
  }
}

/* ----- MOBILE ----- */
@media (max-width: 768px) {
  .TitleDiv {
    margin-top: 5.5rem;
  }

  .tableWrapper {
    padding: 0.5rem;
  }

  .SearchBox {
    width: auto;
  }

  /* popup menu */
  .dropdownMenu {
    position: fixed;
    top: 8.2rem;
    left: 93.3%;

  }

  .paginationSection {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .paginationControls {
    justify-content: center;
  }
}

/* ----- SMALL M-----OBILE  */
@media (max-width: 480px) {
  .title {
    font-size: 1.1rem;
  }

  .SearchBox {
    font-size: 0.8rem;
  }

  /* popup menu */
  .dropdownMenu {
    position: fixed;
    top: 8.2rem;
    left: 88%;
  }

  .thead th,
  .tbody td {
    font-size: 0.75rem;
  }

  .paginationBtn button {
    padding: 0.3rem 0.8rem;
    font-size: 0.75rem;
  }
}