* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Trebuchet MS";
}

body {
  background: #d0d0d0;
}

/* -------------- NAVBAR    */

.headers {
  position: fixed;
  top: 0;
  left: 0;
  height: 60px;
  background-color: #001c21;
  display: flex;
  align-items: center;
  width: 100%;
  padding: 0 20px;
  border-bottom: 1px solid #999;
  z-index: 1000;
}

.leftIcon {
  font-size: 24px;
  color: white;
}

.centerTitle {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  color: white;
}

/* ------------- FORM CONTAINER  */

.form-container {
  display: flex;
  justify-content: center;
  margin-top: 7rem;
  padding: 2rem;
}

/* ------------- COLUMN FORM  */

.form-section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  width: 500px;
  padding: 2rem;
  border-radius: 0.5rem;
  background: #ffffff;
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.15);
}

/* ------------- Heading full width */
.tagh1 {
  grid-column: span 2;
  text-align: center;
  color: #3e4144;
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

/* Inputs */
.form-input {
  width: 100%;
  padding: 0.7rem 0.8rem;
  border-radius: 0.3rem;
  border: 1px solid #bbb;
  background-color: #fff;
  font-size: 0.9rem;
  transition: 0.2s ease-in-out;
}

/* Hover */
.form-input:hover {
  border-color: #1976d2;
}

/* Click / Focus */
.form-input:focus {
  outline: none;
  border-color: #1976d2;
  box-shadow: 0 0 6px rgba(25, 118, 210, 0.3);
}

/* Select styling */
select.form-input {
  /* appearance: none; */
  cursor: pointer;
  background-repeat: no-repeat;
  background-position: right 10px center;
  background-size: 16px;
  padding-right: 30px;
}

.form-input::placeholder {
  columns: red;
}
/* input feild Required error style */
.input-error {
  border: 2px solid #e53935;
}

.error-msg {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 4px 8px;
  background: #e53935;
  color: white;
  font-size: .75rem;
  border-radius: 4px;
}

/* Button Section full width */
.btn_section {
  grid-column: span 2;
  display: flex;
  gap: 1rem;
  justify-content: center;
  margin-top: 0.5rem;
}

.btn_feature {
  width: 15rem;
  padding: 0.6rem;
  border: none;
  border-radius: 0.3rem;
  background-color: #1088ff;
  color: #fff;
  font-weight: 600;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}

.btn_feature:hover {
  background: #003d98;
}

/* Success Message */
.notify {
  position: fixed;
  top: 80px;
  left: 50%;
  transform: translateX(-50%);
  padding: 1rem 2rem;
  border-radius: 8px;
  font-weight: 600;
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.2);
  z-index: 2000;
  display: flex;
  align-items: center;
  gap: 1rem;
  animation: slideDown 0.3s ease;
}

.notify.success {
  background: #00ab11;
  color: white;
}

.notify.error {
  background: #e53935;
  color: white;
}

.closeBtn {
  cursor: pointer;
  font-size: 14px;
}
/*  Password style show hide password style */
.password-wrapper {
  position: relative;
  width: 100%;
}
.password-wrapper .form-input {
  width: 100%;
  padding-right: 40px;
}

.eye-icon {
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  font-size: 16px;
}

@keyframes slideDown {
  from {
    opacity: 0;
    transform: translate(-50%, -20px);
  }

  to {
    opacity: 1;
    transform: translate(-50%, 0);
  }
}


/* -------------------- RESPONSIVE -------------------- */
/* Tablet */
@media (max-width: 768px) {

  .form-section {
    width: 100%;
  }
}

/* Mobile */
@media (max-width: 480px) {

  .headers {
    height: 55px;
  }

  .centerTitle {
    font-size: 0.8rem;
  }

  .form-section {
    grid-template-columns: 1fr;
    width: 100%;
    padding: 1.5rem;
  }

  .tagh1,
  .btn_section,
  div.successMsg {
    grid-column: span 1;
  }

  .btn_feature {
    width: 100%;
  }
}