 * {
   margin: 0;
   padding: 0;
   box-sizing: content-box;
   font-family: "Trebuchet MS";
 }

 /* body {
  padding-top: 60px;
} */
 .Navbar_header {
   background-color: hsl(189, 100%, 6%);
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: 60px;
   z-index: 1000;
   display: flex;
   align-items: center;
   justify-content: space-between;
   padding: 0.3rem 0.8rem;

 }

 .left_icons {
   right: -100%;
   transition: 0.3s ease;
   gap: 3rem;
   display: flex;
   align-items: center;
   font-weight: bold;
   font-family: "Trebuchet MS";
 }

 .right_icons {
   gap: 3rem;
   display: flex;
   align-items: center;
   font-weight: bold;
   font-family: "Trebuchet MS";
 }

 .Link {
   border: none;
   background: none;
   color: none;
 }

 .navlink {
   padding: .3rem;
   font-size: 1rem;
   background: none;
   color: rgb(204, 204, 204);
   border-radius: .2rem;
   border: 1px solid transparent;
   transition: 0.3s ease;
 }

 .navlink:hover {
   color: #ffffff;
   border-color: #ffffff;
 }

 .menuBtn {
   display: none;
 }

 .active {
   right: 0 !important;
 }

 /* ------- admin bar------- */
 .AdminBar {
   display: inline-block;
 }

 .adminBars {
   position: fixed;
   top: 80px;
   left: 0;
   width: 260px;
   height: 100vh;
   background: #1f1f1fe4;
   padding: 1.5rem;
   transform: translateX(-100%);
   transition: transform 0.4s ease;
   z-index: 999;
   display: flex;
   flex-direction: column;
 }

 .activeAdmin {
   transform: translateX(0);
 }

 .adminMainBtn {
   width: 100%;
   padding: 0.8rem;
   background: #2a2a2a95;
   border: none;
   color: #ffffff;
   font-weight: 600;
   display: flex;
   justify-content: space-between;
   align-items: center;
   cursor: pointer;
   border-radius: 6px;
   transition: 0.3s ease;
   border: 1px solid transparent;
 }

 .adminMainBtn:hover {
   transform: scale(1.001);
   color: #ffffff;
   border-color: #ffffff;
 }


 .subMenu a {
   padding: 0.6rem 0.8rem;
   text-decoration: none;
   color: #cccccc;
   font-size: 0.9rem;
   border-radius: 4px;
   transition: 0.3s ease;
   border: 1px solid transparent;
 }

 .subMenu a:hover {
   transform: scale(1.001);
   color: #ffffff;
   border-color: #ffffff;
 }
 .subMenu {
   max-height: 0;
   overflow: hidden;
   display: flex;
   flex-direction: column;
   transition: max-height 0.4s ease;
 }

 .subMenuActive {
   max-height: 500px;
   margin-top: 0.5rem;
 }

 .sidebarBtn {
   width: 100%;
   padding: 0.7rem;
   background: #8f8f8f7c;
   border: none;
   border-radius: 0.3rem;
   color: #002e36;
   font-weight: 600;
   text-align: left;
   cursor: pointer;
 }

 .profilePanel {
   position: fixed;
   top: 5rem;
   right: 0;
   width: 17rem;
   /* height: calc(100vh - 80px); */
   background-color: rgb(49, 49, 49);
   padding: 1.5rem;
   transform: translateX(100%);
   transition: transform 0.4s ease;
   z-index: 999;
   display: flex;
   flex-direction: column;
   gap: .5rem;
   border-radius: .3rem;
   display: flex;
   /* border: 1px solid rgb(255, 255, 255); */
   align-items: center;
   transition: 0.3s ease;
   border: 1px solid transparent;
 }

 .profilePanel:hover {
   transform: scale(1.001);
   color: #ffffff;
   border-color: #ffffff;
 }

 .ProfileData {
   width: auto;
 }

 .profileActive {
   transform: translateX(0);
 }

 .settingbtn,
 .logoutBtn {
   margin-top: auto;
   padding: 0.6rem;
   border: none;
   background: #2c2c2c;
   color: #fff;
   border-radius: 6px;
   cursor: pointer;
   transition: 0.3s ease;
   border: 1px solid transparent;
   transition: 0.3s ease;
   /* border: 1px solid red; */
 }

 .settingbtn:hover,
 .logoutBtn:hover {
   /* background: #3a3a3a; */
   /* background: hsl(0, 0%, 18%); */
   transform: scale(1.001);
   color: #ffffff;
   border-color: #ffffff;
 }

 @media (max-width: 768px) {
   .menuBtn {
     display: inline-block;
   }

   .Navbar_header {
     height: 80px;
   }

   .left_icons {
     position: absolute;
     top: 5rem;
     height: 100vh;
     background-color: #2a2a2afa;
     flex-direction: column;
     text-decoration: solid;
     /* box-shadow: inset 0px 0px 1rem #00ffff21; */
     gap: 1rem;
     transition: .4s ease;
     width: 14rem;
     align-items: self-start;
     text-align: center;
     padding: 1.5rem;
     z-index: 999;
   }

   .left_icons.active {
     right: 0;
     transform: scale(1);
   }

   .left_icons button {
     /* background-color: #282828d3; */
     color: #ffffff;
     border: none;
     border-radius: 0.3rem;
     font-weight: 600;
     font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
     align-items: self-start;
     justify-content: left;
     transition: 0.3s ease;
     border: 1px solid transparent;
   }

   .left_icons button:hover {
     transform: scale(1.001);
     color: #ffffff;
     border-color: #ffffff;
   }

   .right_icons {
     justify-content: center;
     gap: 0.3rem;
     /* flex-wrap: wrap; */
   }

   .right_icons button {
     font-size: 0.8rem;
     padding: 0.3rem 0.6rem;
     border: none;
     box-shadow: inset 0 0 .2rem rgb(113, 113, 113);
     border-radius: 0.3rem;
     font-size: 0.85rem;
     color: rgb(229, 223, 228);
   }

   .right_icons button:hover {
     color: #002e36;
     background-color: #ffffff;
     box-shadow: 0 0 .2rem #ffffff;
   }
 }